body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;

    width: 2020px;
    height: 130px;
    margin-top: -20px;
    margin-left: -20px;
    margin-bottom: 250px;
}

.back-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.icon-img {
    width: 24px;
    height: 24px;
}

h2 {
    margin-top: -50px;
}

.chart {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 500px;
    margin-top: 20px;
}

.bar {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.bar-img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.bar span {
    position: absolute;
    bottom: -20px;
    font-size: 20px;
    color: black;
}

.labels {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
